*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    text-transform: capitalize;
}
.container{
  /* padding: 10px 20px; */
  /* width: 136%; */
  width:100% ;
  padding-left:2px;
  /* border: 1px solid rgb(138, 10, 224); */
  overflow:scroll ;
  height: 100vh;
  /* position: relative; */
}
.nav-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color:#fff;
    border-bottom: 2px solid  #D6EBFF;
    padding: 10px 40px ;
   position: fixed;
   top:0 ;
   left:143px;
   right: 0;
   z-index: 1;
}

  .nav-container-left{
    display: flex;
    flex-direction: row;
    align-items: center !important;
    gap: 20px;
  }
  .nav-container-left h2{
    color: #2B80D5;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
  }
  .nav-container-right{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
  }
  .nav-container-right button{
    background: #3399FF;
    border-radius: 5px;
    outline: none;
    border: none;
    padding: 5px 10px;
    color: #fff;
  }
  .nav-short{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}
.nav-short p{
    font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;
color: #000000;
}
/* there is below i where second section would styled
 */
 .second-section{
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* border: 1px solid chartreuse; */
  width: 100%;
  padding: 20px 60px 20px 20px;
  margin-top: 80px;
  margin-bottom: 60px;
 }
 .second-image{
  display: flex;
  align-items: center;
 }
 .second-image img {
    width: 120px;
 }
 .second-section-text{
  display: flex;
 align-content: center;
 gap: 20px;
 }
 .second-section-text p{
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
 }
 .second-section-text span{
  font-weight: 800;
 }
 .second-section-first{
  display:flex;
  align-items: center;
  gap: 20px;
  
 }
 .second-section-second{
  border: 1px solid rgb(75, 5, 180);
 }
 .second-section-second p{
    font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
 }
 .second-section-second span{
  font-weight: 800;
 }
.third-section-link{
  width: 100%;
  display: flex;
  flex-direction: row;
  padding: 10px 40px ;
  /* gap:20px; */
  gap:15%;
  border-bottom: 2px solid #D6EBFF;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  /* border: 1px solid firebrick; */
  /* margin-right: 60px; */
position: relative;
}
.third-section-link li{
 text-decoration:none;
 list-style: none;
 color: #000000;
}
.third-section-link li::after{
  content: '';
  position: absolute;
  background: #3399FF;
  height: 3px;
  width: 0px;
  /* left:0; */
  bottom: -2px;
  transition: 0.2s all;
}
.third-section-link li:active::after{
  width: 75px;
}
.navi-link{

  color: #141414;
  text-decoration: none;
  list-style: none;
  
}
.navi-link p {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  
}