.patientdashboard {
  width: 100%;
  padding: 1.3rem 0;
  position: relative;
  height: 100vh;
  overflow-y: scroll;
}
.main_not_registered {
  padding-left: 2rem;
  padding-right: 5rem;
  display: flex;
  flex-direction: column;
}
.open_nav {
  display: none;
}
.close_nav {
  display: none;
}
.connect_meta {
  background-color: #55aa55;
  border: none;
  padding: 1.5rem 2.5rem;
  margin-top: 0.6rem;
  border-radius: 10px;
  color: white;
  font-size: large;
}
.connect_meta:hover {
  cursor: pointer;
  background-color: #7db97d;
}
.patientdashboard_header {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  border-bottom: solid 1px #d6ebff;
  padding: 0 2rem 0.6rem 2rem;
  padding-bottom: 0.6rem;
}
.patientdashboard .right_side_header {
  display: flex;
  align-items: center;
  gap: 20px;
}
.patientdashboard .left_side_header {
}
.patientdashboard .hamburger_icon {
  margin-left: 1rem;
  display: none;
}
.patientdashboard .responsive_h1_header_title {
  display: none;
}
.patientdashboard .right_side_header .profile_img {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  border: 1px solid rgb(255, 255, 255);
  object-fit: fill;
}

.drop_down_btn {
  font-size: 24px;
  margin-left: -20px;
}
.drop_down_btn:hover {
  cursor: pointer;
}
.relative {
  position: relative;
}
.patientdashboard .right_side_header .profile_img:hover {
  cursor: pointer;
}
.patientdashboard .right_side_header .profile_notification {
  margin-right: 0.5rem;
}
.patientdashboard .right_side_header .profile_notification:hover {
  cursor: pointer;
}
.patientdashboard .share_btn {
  background-color: #3399ff;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 10px;
  color: white;
}
.patientdashboard .share_btn:hover {
  cursor: pointer;
}
.patientdashboard .left_side_header h1 {
  font-weight: 700;
  color: #2b80d4;
}
.patientdashboard .profile_name {
  font-weight: 400;
  font-size: 14px;
  margin-left: -11px;
}
.patientdashboard .patientsvital {
  display: flex;
  margin-top: 1rem;
  justify-content: space-between;
  padding: 0 1rem;
}
.patientdashboard .patientsvital .image_div img {
  height: 120px;
  width: 120px;
  border: 1px solid rgb(255 255 255);
  border-radius: 50%;

  object-fit: fill;
}
.patientdashboard .left_patient_vitals {
  display: flex;
  align-items: center;
  gap: 16px;
}
.patientdashboard .left_patient_vitals .name {
  color: #222222;
  font-weight: 600;

  line-height: 44px;
}
.patientdashboard .info_div .wrapper {
  display: flex;
  gap: 20px;
}
.patientdashboard .wrapper .key,
.right_patient_vitals .key {
  color: #b3b3b3;
  line-height: 28px;
}
.patientdashboard .wrapper .value,
.right_patient_vitals .value {
  color: #222222;
  font-weight: 400;
}
.patientdashboard .right_patient_vitals {
  margin-top: auto;
  position: relative;
}
.patientdashboard .right_patient_vitals .right_patient_vitals_btn {
  border: none;
  padding: 0.2rem 0.5rem;
  background-color: #66cc66;
  color: white;
  position: absolute;
  right: 0;
  top: -30px;
}
.patientdashboard .drop_content {
  position: absolute;
  right: 2rem;
  top: 60px;
  border-radius: 10px;
  padding: 1rem 2px 0.5rem 2px;
  background-color: rgb(247, 246, 246);
  z-index: 120;
  box-shadow: 0.5px 0.5px 0.5px 1px #d2d2d2;
}

.patientdashboard .drop_content_item {
  margin-bottom: 1px;
  padding: 0.4rem 1rem;
  text-align: left;
  color: black;
  background-color: white;
}
.patientdashboard .drop_content_item:hover {
  cursor: pointer;
  background-color: rgb(242, 242, 242);
}
.patientdashboard .middle_section {
  margin-top: 4rem;
}
.patientdashboard .grant_access_div {
  display: flex;

  align-items: center;
  padding: 0 1rem;
  margin-bottom: 2rem;
  width: 90%;
  justify-content: space-between;
}
.patientdashboard .access_div {
  display: flex;
  gap: 10px;
  flex: 0.8;
}
.patientdashboard .revoke_div {
  display: flex;
  gap: 10px;
  flex: 0.8;
}
.grant_access_div .grant_access_input {
  flex: 0.7;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  border-color: #d2d2d2;
  border-width: 0;
  box-shadow: 1px 1px 4px rgb(142, 142, 142);
}

.grant_access_div .grant_access_input:focus {
  outline-width: 0.4px;
  outline-color: #a3c7ec;
}
.grant_access_div .revoke_access_btn {
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  background-color: #fc1a44;
  color: white;
}
.grant_access_div .grant_access_btn {
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  background-color: #66cc66;
  color: white;
}
.grant_access_div .grant_access_btn:hover {
  cursor: pointer;
  background-color: #7cdb7c;
}
.grant_access_div .revoke_access_btn:hover {
  background-color: #eb4866;
  cursor: pointer;
}
.grant_access_input::placeholder {
  padding-left: 1rem;
}
.patientdashboard .middle_section .middle_section_header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
  padding: 0 1rem;
}
.patientdashboard .middle_section .middle_section_header .report_btn {
  background-color: #66cc66;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 10px;
}
.patientdashboard .middle_section .header .report_btn:hover {
  cursor: pointer;
}
.patientdashboard .vitals_readings_cards {
  display: flex;
  justify-content: space-between;
}

.patientdashboard .vitals_readings_cards .card1 {
  padding: 1rem 3rem 2rem 1rem;
  border-radius: 10px;
  margin: 0 1rem;
  align-self: baseline;
  flex: 0.2;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
}
.patientdashboard .vitals_readings_cards .card1_header {
  margin-bottom: 1.5rem;
  font-weight: 600;
  font-size: 18px;
  color: #141414;
}
.patientdashboard .vitals_readings_cards .left_div {
  display: flex;
  gap: 10px;
}
.patientdashboard .vitals_readings_cards .deisgned_div .readings_div,
.readings_div {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
}
.patientdashboard .readings_div .heading {
  font-weight: 600;
  font-size: 14px;
  color: #666666;
}
.patientdashboard .readings_div .key {
  font-weight: 700;
  font-size: 16px;
  color: #444444;
}
.patientdashboard .vitals_readings_cards .card1 .top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.patientdashboard .vitals_readings_cards .card1 .top .right_div {
  display: flex;
  gap: 10px;
}
.patientdashboard .middle1 {
  display: flex;
  gap: 27px;
  margin-bottom: 1.5rem;
}
.patientdashboard .middle1 .middle1_left,
.middle1 .middle1_right,
.card1_down .middle1_left,
.card1_down .down_right {
  display: flex;
  background-color: #f9f9f9;
  border-radius: 10px;
}
.patientdashboard .left_readings .left_line,
.middle1_right .left_line {
  position: absolute;
  left: 0;
  top: 10px;
  width: 1.4px;
}
.patientdashboard .left_readings .bottom_left_line,
.middle1_right .bottom_left_line {
  position: absolute;
  left: 0;
  bottom: 10px;
  width: 1.4px;
}
.patientdashboard .middle1 .middle1_left .pulse_icon,
.middle1_right .pulse_icon {
  padding: 0.8rem 2rem 0.8rem 1.5rem;
}
.patientdashboard .middle1_right .red_pulse_icon {
  object-fit: contain;
}
.patientdashboard .value_span {
  color: #666666;
  font-size: 12px;
}
.patientdashboard .value_span1 {
  color: #666666;
  font-size: 9px;
}
.patientdashboard .middle1_left .left_readings,
.middle1_right .left_readings,
.card1_down .down_right .left_readings {
  background-color: #e7f0f9;
  padding: 1rem 1rem;
  position: relative;
  border-radius: 10px;
  text-align: right;
}
.patientdashboard .card1 .middle2 {
  display: flex;
  justify-content: space-between;
  margin-top: 1.6rem;
}
.patientdashboard .middle2 .icon_div {
  width: 40px;
  height: 40px;
  box-shadow: 1px 1px 4px rgb(142, 142, 142);
  border-radius: 9px;
}
.patientdashboard .top .icon_div {
  width: 55px;
  height: 36px;
  box-shadow: 1px 1px 4px rgb(142, 142, 142);
  border-radius: 9px;
}

.patientdashboard .middle2 .middle2_left,
.patientdashboard .middle2 .middle2_right {
  display: flex;
  gap: 8px;
}
.patientdashboard .count_val_div {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.patientdashboard .count_val_div :nth-child(1) {
  line-height: 24px;
  color: #666666;
  font-size: 14px;
}
.patientdashboard .count_val_div :nth-child(2) {
  color: #444444;
  font-weight: bold;
  font-size: 16px;
}
.patientdashboard .card1 .card1_down {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}
.patientdashboard .down_right .centre_line {
  position: absolute;
  left: 0;
  top: 35%;
  width: 1.4px;
}
.patientdashboard .down_right .dot {
  position: absolute;
  left: -1.5px;
  top: 50%;
}
.patientdashboard .card1_down_left .dot {
  position: absolute;
  left: -2px;
  top: 50%;
}
.card1_down .down_right .pulse_icon,
.patientdashboard .card1_down .middle1_left .pulse_icon {
  padding: 0.8rem 0 0.8rem 1.5rem;
  margin-right: -5px;
}
.card1_down .down_right .red_pulse_icon,
.card1_down_left .red_pulse_icon {
  object-fit: contain;
}
.patientdashboard .card2 {
  padding: 1rem 3rem 2rem 1rem;
  border-radius: 10px;
  box-shadow: 1px 1px 4px rgb(142, 142, 142);
  display: flex;
  flex: 0.4;
  margin: 0 1rem;
  flex-direction: column;
  align-self: baseline;
}
.patientdashboard .card2 .diagnosis_container {
  display: flex;
  justify-content: space-between;
  gap: 4rem;
  border-bottom: 1px solid #e7e6e6;
  padding-bottom: 0.7rem;
}
.patientdashboard .card2 .diagnosis_container .left {
  padding-left: 0.6rem;
  padding-right: 0.4rem;
}
.patientdashboard .card2 .diagnosis_container .right {
  display: flex;
  align-items: center;
  justify-content: center;
}
.patientdashboard .card2 .card2_header {
  margin-bottom: 1.5rem;
  font-weight: 600;
  font-size: 18px;
  color: #141414;
}
.patientdashboard .diagnose_name {
  font-weight: 600;
  font-size: 16px;
  color: #666666;
  line-height: 24px;
}
.patientdashboard .diagnose_status {
  font-weight: 600;
  font-size: 14px;
  color: #999999;
}
.patientdashboard .card3 {
  padding: 1rem 0rem 1rem 1rem;
  flex: 0.5;
  margin: 0 1rem;
}
.patientdashboard .card3 .card3_header {
  margin-bottom: 1.5rem;
  font-weight: 600;
  font-size: 18px;
  color: #141414;
}
.patientdashboard .card3 .med_div {
  display: flex;
  gap: 2rem;
  box-shadow: 1px 1px 4px rgb(142, 142, 142);
  padding: 1rem 3rem 1rem 1rem;
  border-radius: 10px;
  margin-bottom: 0.6rem;
}
.patientdashboard .card3 .drug_icon_div {
  width: 40px;
  height: 40px;
  box-shadow: 1px 1px 4px rgb(142, 142, 142);
  border-radius: 9px;
}
.patientdashboard .drug_name_div .drug_name {
  color: #666666;
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
}
.patientdashboard .drug_name_div .dosage {
  color: #808080;
  font-size: 12px;
  font-weight: 400;
}
@media (max-width: 1300px) {
  .grant_access_div .grant_access_input::placeholder {
    font-size: small;
  }
  .patientdashboard_header {
    
  }
  .patientdashboard .right_side_header {
    flex: 0.5;
    justify-content: flex-end;
  }
  .patientdashboard .left_side_header {
    flex: 0.5;
  }
  .patientdashboard .right_patient_vitals {
    width: auto;
  }
  .patientdashboard .patientsvital {
  }
  .patientdashboard .right_patient_vitals .right_patient_vitals_btn {
  }
  .patientdashboard .vitals_readings_cards {
    flex-direction: column;
  }
  .patientdashboard .card2 {
    align-self: normal;
    margin: 1rem 1rem;
  }
  .patientdashboard .grant_access_div {
    display: flex;
    width: 100%;
    justify-content: space-between;
  }
  .grant_access_div .grant_access_input {
    flex: 0.7;
  }
  .patients_dashboard_main {
  }
  .patientdashboard .middle1 {
    justify-content: space-between;
  }
  .patientdashboard .card3 .med_div {
    justify-content: space-between;
  }
}
@media (max-width: 926px) {
  .patientdashboard .right_side_header {
    flex: none;
  }
  .open_nav {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 7000;
    width: 100%;
    height: 40vh;
  }
  .close_nav {
    display: none;
  }

  .sideBar {
    display: none;
  }
  .patientdashboard .hamburger_icon {
    display: block;
    position: absolute;
    left: 10px;
    top: 5px;
    width: 20px;
    height: 20px;
  }
  .patientdashboard .hamburger_icon:hover {
    cursor: pointer;
  }
  .patientdashboard .h1_header_title {
    display: none;
  }
  .patientdashboard .responsive_h1_header_title {
    display: block;
    font-weight: 700;
    color: #2b80d4;
    margin-left: 1rem;
  }
  .patientdashboard .grant_access_div {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .patientdashboard .access_div {
    width: 90%;
    align-items: center;
    justify-content: center;
  }
  .patientdashboard .revoke_div {
    width: 90%;
    justify-content: center;
    align-items: center;
  }
  .patientdashboard .patientsvital {
    flex-direction: column;
  }
  .patientdashboard .right_patient_vitals .right_patient_vitals_btn {
    position: revert;
  }
  .patientdashboard .right_patient_vitals {
    margin-top: 1rem;
  }
  .patientdashboard .left_patient_vitals {
    flex-direction: column;
    gap: 0;
  }
  .left_patient_vitals .name {
    text-align: center;
  }
  .info_div {
    width: 100%;
  }
  .info_div .wrapper {
    justify-content: space-between;
  }
  .relative::after {
    content: "";
    width: 47px;
    height: 47px;
    border-radius: 50%;
    background: linear-gradient(
      90deg,
      rgb(34, 49, 255) 0%,
      rgb(46, 58, 227) 100%,
      rgba(0, 212, 255, 1) 100%
    );
    display: block;
    position: absolute;
    top: -4px;
    left: -4px;
    z-index: -1;
  }
}

@media (max-width: 679px) {
  .patientdashboard .access_div {
    width: 100%;
  }
  .patientdashboard .revoke_div {
    width: 100%;
  }
}
@media (max-width: 607px) {
  .patientdashboard .access_div {
    flex-direction: column;
    width: 100%;
  }
  .patientdashboard .revoke_div {
    flex-direction: column;
    width: 100%;
  }
  .grant_access_div .grant_access_input {
    width: 100%;
  }
}
@media (max-width: 470px) {
  .patientdashboard .share_btn {
    position: absolute;
    top: 3.5rem;
  }
  .patientdashboard .middle1 {
    flex-direction: column;
    gap: 4rem;
  }
  .display_div {
    position: relative;
  }
  .patientdashboard .vitals_readings_cards .left_div {
  }
  .patientdashboard .vitals_readings_cards .card1 .top .right_div {
    position: absolute;
    top: 9rem;
  }
  .patientdashboard .middle1 .middle1_left,
  .middle1 .middle1_right,
  .card1_down .middle1_left,
  .card1_down .down_right {
    background-color: white;
  }
  .patientdashboard .middle1 .middle1_left,
  .middle1 .middle1_right {
    width: 100%;
  }

  .patientdashboard .middle1 .middle1_left .pulse_icon,
  .middle1_right .pulse_icon {
    background-color: #f9f9f9;
  }
  .patientdashboard .card1 .card1_down {
    flex-direction: column;
    gap: 4rem;
  }
  .patientdashboard .card1 .middle2 {
    flex-direction: column;
  }
  .patientdashboard .middle2 .middle2_right {
    position: absolute;
    bottom: 14%;
  }
}

._sideBar {
  width: 180px;
  height: 100vh;
  background: #3399ff;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.17), 4px 4px 6px rgba(0, 0, 0, 0.075),
    10px 10px 20px rgba(0, 0, 0, 0.04);
  left: 0;
  top: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all 2s;
  overflow: hidden;
  position: fixed;
  z-index: 7000;
  animation: slideIn 0.3s ease-in-out;
}
@keyframes slideIn {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}
@keyframes slideOut {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}
._sideBar div img {
  padding: 10px 5px;
}
._mid-section {
  padding: 20px 10px;
  text-align: center;
  margin-top: 0px;
}
._mid-section .link {
  text-decoration: none;
  list-style: none;
  color: #0a1f33;
}
._mid-section p {
  padding: 10px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
}
._lower-section {
  margin-top: 50px;
  text-align: center;
  position: absolute;
  bottom: 0;
}
._lower-section .link {
  text-decoration: none;
  list-style: none;
  color: #0a1f33;
}
._lower-section p {
  padding: 15px 0px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
}
._middle-section {
  padding: 20px 10px;
  text-align: center;
  margin-top: 0px;
}
._middle-section p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
}
.link p {
  color: #fff;
}
.links {
  text-decoration: none;
  list-style: none;
  color: #0a1f33;
}

._center-div {
  display: flex;
  flex-direction: column;
  align-items: center;
}
._center-div p {
  color: #fff;
  font-weight: 700;
}
._center-div span {
  color: #fff;
}
.close_btn {
  position: absolute;
  top: 10px;
  right: 10px;
  color: white;
  font-size: larger;
}
.closeNav {
  display: none;
  animation: slideOut 0.3s ease-out;
  
 
}
