.topleft .profile_btn {
  border: none;
  background-color: #55aa55;
  padding: 0.5rem 2rem;
  border-radius: 10px;
  color: white;
  font-size: 14px;
}
.topleft .profile_btn:hover {
  cursor: pointer;
}
.topleft {
  display: flex;
  gap: 1rem;
  position: relative;
  align-items: center;
  box-shadow: 1px 2px 8px rgb(91, 91, 91);
  padding: 1rem 2rem;
  border-radius: 10px;
}
.topleft .back_arrow {
  width: 1.5em;
  height: 1.5em;
  position: absolute;
  left: 8px;
  top: 5px;
}
.topleft .name {
  font-size: 20px;
  font-weight: 600;
  color: #444444;
}

.topleft .email {
  margin-top: 0.4rem;
  margin-bottom: 0.5rem;
  color: #77bbff;
  font-size: 13px;
  font-weight: 600;
}
.topleft .prof_img {
  height: 140px;
  width: 140px;
  box-shadow: 1px 2px 4px rgb(224 222 222);
  border-radius: 50%;
  object-fit: fill;
}
@media (max-width: 667px) {
  .topleft {
    box-shadow: none;
    border-radius: 0;
  }
  .topleft .back_arrow {
    width: 25px;
    height: 25px;
    position: absolute;
    left: 0;
  }
}
@media (max-width: 514px) {
  .topleft .prof_img {
    height: 120px;
    width: 120px;
    border-radius: 50%;
  }
}
@media (max-width: 300px) {
  .topleft {
    padding: 0.6rem;
  }
}
