* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
.first-container {
  width: 100%;
  background: linear-gradient(180deg, #3399ff 0%, #86ae81 93.23%);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0px 80px 0px;
  height: 100%;
}
.confirmation {
  background: #fff !important;
}
.signup-form {
  background-color: #fff;
  padding: 20px 40px 20px 40px;
  width: 100%;
  background: #ffffff;
  border-radius: 10px;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.17), 4px 4px 6px rgba(0, 0, 0, 0.075),
    10px 10px 20px rgba(0, 0, 0, 0.04);
}
.signup-form h2 {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 900;
  font-size: 18px;
  line-height: 44px;
  margin-bottom: 10px;
}
.signup-form p {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 24px;
  letter-spacing: 0.005em;
  color: #999999;
  margin-top: -20px;
}
.signup-form img {
  width: 180px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  margin-left: 100px;
  margin-bottom: 10px;
}
.image-placeholder {
  display: flex;
  align-items: center;
}

.sign-up-container {
  display: flex;

  padding: 20px;
}
.form {
  position: relative;
  margin-top: 20px;
  margin-bottom: 20px;
}
.input {
  display: flex;
  flex-direction: column;
  font-size: 12px;
}
.input label {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #666666;
  letter-spacing: 0.005em;
  margin-top: 20px;
}
.input input {
  background: #ffffff;
  width: 426px;
  height: 40px;
  padding: 10px;
  outline: none;
  border: 1px solid #e6e6e6;
  border-radius: 5px;
  font-size: 12px;
}
.form button {
  background: #3399ff;
  border-radius: 5px;
  height: 40px;
  width: 426px;
  color: #fff;
  padding: 5px;
  border: none;
  margin-top: 30px;
}
.create-account {
  margin-top: 10px;
}

.auth-text {
  margin-right: 10px;
}

.terms {
  display: flex;
  align-items: center;
  gap: 5px;
}
.terms span {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  color: #555555;
}

.diverge {
  display: flex;
  justify-content: space-between;
}
.diverge span {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  color: #555555;
}
.btn {
  border: 20px !important;
}
.placeholder {
  font-size: 10px;
}
.linky {
  text-decoration: none;
  color: blue;
}
.wallet-link {
  color: #000;
}
.wallet-link2 {
  text-decoration: none;
  font-weight: 600;
  color: #3399ff;
}

.valid {
  color: limegreen;
  margin-left: 0.25rem;
}
.hide {
  display: none;
}
.invalid {
  color: red;
  margin-left: 0.25rem;
}
.password-toggle {
  position: absolute;
  margin-top: 35px;
  left: 350px;
}
.confirmation-buttons {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  gap: 10px;

  align-items: center;
}
.confirmation-buttons button {
  padding: 8px 16px;
  width: 301px;
  height: 43px;
  border-radius: 20px;
  border: none;
  outline: none;
}
.con-button-1 {
  background: #3399ff;
  color: #fff;
}
.con-button-1:hover {
  background: #fff;
  color: #000;
  transition: 2s all;
}
.con-button-2 {
  background: #d6ebff;
  color: #000;
}
.con-button-2:hover {
  background: #3399ff;
  color: #ffffff;
  transition: 2s all;
}
.lowest-section {
  display: flex;
  justify-content: space-between;
}
