.dashboard {
  width: 100%;
}
.doctorsdraft {
  width: 100%;
  height: 100vh;
  padding: 2rem;
  overflow-y: scroll;
}
.drafts_header_left {
  color: #3399ff;
  font-size: 24px;
  font-weight: 600;
  flex: 0.5;
}
.drafts_header_right {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex: 0.3;
}
.drafts_header_right_no_justify {
  display: flex;
  align-items: center;
  flex: 0.3;
  justify-content: flex-end;
}
.drafts_header_right img,
.drafts_header_right_no_justify img {
  height: 30px;
  width: 40px;
  border-radius: 50%;
  object-fit: cover;
}
.drafts_header_right img:hover,
.drafts_header_right_no_justify img:hover {
  cursor: pointer;
}
.doctorsdraft_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 3.5rem;
}
.draft_update_btn {
  background-color: #3399ff;
  color: white;
  border: none;
  border-radius: 10px;
  padding: 0.6rem 1rem;
}
.draft_update_btn:hover {
  cursor: pointer;
  background-color: #69aef4;
}
.drafts_profile_name {
}
.navigation_section {
  display: flex;
  justify-content: space-between;
  width: 70%;
}
.lines {
  border-bottom: 1px solid black;
  width: 100%;
  margin: auto;
}
.navigation_section .circle {
  border-radius: 50%;
  padding: 0.5rem 0.7rem;
  background-color: #d6ebff;
}
.tick {
  color: white;
}
.blue {
  border-radius: 50%;
  padding: 0.5rem 0.7rem;
  background-color: #3399ff;
}
.navigation_section .circle:hover {
  background-color: #90c1f1;
}
.link:hover {
  cursor: pointer;
}
.blue:hover {
  cursor: pointer;
}
.title_blue {
  color: #3399ff;
}
.nav_title {
  display: flex;
  justify-content: space-between;
  width: 70%;
  margin-bottom: 4rem;
}
.doctorsdraft .vitals_next {
  padding: 2rem 7rem;
  border: none;
  border-radius: 7px;
  background-color: #3399ff;
  color: white;
}
.doctorsdraft .vitals_next:hover {
  cursor: pointer;
}
.doctorsdraft .action_button {
  display: flex;
  justify-content: center;
  margin-top: 12rem;
  width: 70%;
  align-items: center;
}
.grant_access_div {
  display: flex;
  width: 85%;
  align-items: center;

  gap: 1rem;
  margin-bottom: 2rem;
}
.grant_access_div_wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.access_input {
  flex: 0.4 1;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  border-color: #d2d2d2;
  border-width: 0;
  box-shadow: 1px 1px 4px rgb(142, 142, 142);
}
.access_btn {
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  background-color: #3399ff;
  color: white;
}
.access_btn:hover {
  cursor: pointer;
  background-color: #69aef4;
}

.drafts_action_btn {
  margin-top: 2rem;
  display: flex;
  gap: 8px;
  width: 85%;
  margin-left: -0.8rem;
  justify-content: flex-end;
}
.draft_save {
  padding: 1rem 2rem;
  border: none;
  border-radius: 7px;
  background-color: #3399ff;
  color: white;
}
.draft_next {
  padding: 1rem 2rem;
  border: none;
  border-radius: 7px;
  background-color: #3399ff;
  color: white;
}
.draft_next:hover,
.draft_save:hover {
  cursor: pointer;
  background-color: #58a4f0;
}
.report_btn_style {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 8px;
  margin-top: 2rem;
}
.no_btn {
  display: none;
}
